.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headingDiv{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 64px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.subTitle{
    color: gray;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.bottom{
    border-radius: 20px;
    width: 90%;
    margin-top: 30px;
    display: flex;
    box-shadow: 0 0 1px gray;
    
}

.bottom1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.bottom2{
    width: 50%;
}

.bottom1 span{
    width: 70%;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 7px;
}

button{
    font-weight: bold;
    font-size: 15px;
    margin-top: 22px;
    border: none;
    border-radius: 35px;
    color: white;
    width: 17%;
    height: 47px;
    background-color: #0f3cc9;
}