<div class="main">
    <div class="headingDiv">    
        <div class="heading">In the spotlight</div>
        <div class="subTitle">The best deals, new launches, and top-selling products right now.</div>
    </div>
    <div class="bottom">
        <div class="bottom1">
            <span class="title">Know what a digital monsoon feels like?</span>
            <p class="subTitle">Just buy a JioFi for ₹2,800 and get cashback worth ₹1,500.</p>
            <button>Buy now</button>
        </div>
        <div class="bottom2">
            <img src="../../assets/images/banner2.png" alt="">
        </div>
    </div>
</div>
